<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All the starwars characters ever to infinity and beyond</h1>
    <ul class = starwarsCharacters>
    <%for(let i = 0; i < characters.length; i++){%>
        <li><a href = "<%=characters[i]._id%>"><%=characters[i].name%></a></li>
    <%}%>
    </ul>
    <form action="/starwars/new" method="GET">
        <button type="submit">Create new character</button>
    </form>
</body>
</html>