<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Make new Starwars character</h1>
    <form action = "" method = "">
       Name: <input type = "text" name = "name">
       Home Planet: <input type = "text" name = "homePlanet">
       Jedi: <input type = "text" name = "jedi">
       Age: <input type = "number" name = "age">
       Favorite Weapon: <input type = "text" name = "favoriteWeapon">
       Species: <input type = "text" name = "species">
    </form>
</body>
</html>